h1{
    border-radius: 12px;
    border: 3px solid darkblue;
    padding-inline: 10px;
}

#first, #second, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button{
    width: 300px;
    margin: 0;
}

input{
    border-radius: 5px;
    height: 20px;
}

button{
    background: darkblue;
    padding: 4px;
    color: whitesmoke;
    border-radius: 13px;
    margin-top: 4px;
}

footer{
    position: fixed;
    bottom: 0;
}

h2{
    font-size: 15px;
}

ul{
    list-style: none;
}

li{
    border-bottom: 2px solid darkblue;
    padding: 10px;
    margin-block: 8px;
}

.feito{
    text-decoration: line-through;
    border-color: green;
    box-shadow: 3px 3px 3px darkgray;
    border-radius: 10px;
}